<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">General</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Parametros
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Número de reintentos</label>
                                <input class="form-control" placeholder="Nº de reintentos" value="<%= numeroReintentos %>">
                            </div>
                            <div class="form-group">
                                <label>Tiempo reintentos (seg)</label>
                                <input class="form-control" placeholder="Tiempo reintentos" value="<%= tiempoEntreReintento %>">
                            </div>
                            <div class="form-group">
                                <label>Tiempo Refresco (seg)</label>
                                <input class="form-control" placeholder="Tiempo refresco" value="<%= tiempoRefresco %>">
                            </div>
                            <div class="form-group">
                                <label>Tiempo Espera (seg)</label>
                                <input class="form-control" placeholder="Tiempo refresco" value="<%= tiempoEspera %>">
                            </div>
                            <div class="form-group">
                                <label>Tiempo De Inmediataz</label>
                                <input class="form-control" placeholder="Tiempo De Inmediataz" value="<%= tiempoDeInmediataz %>">
                            </div>
                            <div class="form-group">
                                <label>Simbolo De Inmediataz</label>
                                <input class="form-control" placeholder="Simbolo De Inmediataz" value="<%= simboloDeInmediataz %>">
                            </div>

                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                            <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Eliminar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
