<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Textos para mostrar en los paneles</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="alert alert-danger fade in" style="display:none;"></div>
                        <div class="alert alert-success alert-dismissable" style="display:none">
                          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <strong>Textos de paneles actualizado.</strong>
                        </div>

                        <form role="form">
                            <div class="form-group">
                                <label>Texto de ultimo servicio</label>
                                <input class="form-control" placeholder="Ultimo Servicio" name="ultimo_servicio" value="<%= ultimo_servicio %>">
                            </div>
                            <div class="form-group">
                                <label>Texto de ultimos servicios</label>
                                <input class="form-control" placeholder="Ultimos Servicios" name="ultimos_servicios" value="<%= ultimos_servicios %>">
                            </div>
                            <div class="form-group">
                                <label>Texto de servicios finalizados</label>
                                <input class="form-control" placeholder="Servicios Finalizados" name="servicios_finalizados" value="<%= servicios_finalizados %>">
                            </div>
                            <div class="form-group">
                                <label>Texto de servicio retrasado</label>
                                <input class="form-control" placeholder="Servicio Retrasado" name="servicioRetrasado" value="<%= servicioRetrasado %>">
                            </div>
                            <div class="form-group">
                                <label>Texto de servicio cancelado</label>
                                <input class="form-control" placeholder="Tiempo De Inmediataz" name="servicioCancelado" value="<%= servicioCancelado %>">
                            </div>
                            <div class="form-group">
                                <label>Simbolo de servicio retrasado/cancelado</label>
                                <input class="form-control" placeholder="Simbolo retraso o cancelo" name="simboloRetrasoCancelo" value="<%= simboloRetrasoCancelo %>">
                            </div>
            

                            <button type="submit" class="guardar btn btn-default"><span class="glyphicon glyphicon-save"></span> Guardar</button>
                            <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancelar </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
